.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172, blue);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

span {
  text-decoration: none;
  color: #ff4c68;
}

a {
  text-decoration: none;
  color: black;
}

.intro {
  grid-column: span 6;
  text-align: center;
  align-content: center;
  color: white;
}

.container-add {
  display: grid;
  grid-template-columns: 1500px;
  grid-template-rows: 100px;
  font-family: "Bree Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.add-head {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.add-add {
  display: inline-block;
  margin-left: 7%;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;

}

.navigation {
  display: flex;
  justify-content: space-around;
}

.social {
  padding: 100px;
  text-align: center;
  align-self: center;
}

.foot {
  align-self: center;
  text-align: center;
}

.picture {
  height: 200px;
  border-radius: 70%;
  grid-column: span 6;
  text-align: center;
  align-content: center;
}
